/****************** Toolbox styles***********************/
hr {
    margin: 0;
}

#toolbox {
    position: absolute;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    padding: 1%;
    margin: 5% 0;
}

.red{
    color: #ff0000;
}

.green{
    color: #008000;
}

.blue{
    color: #0000ff;
}

.black{
    color: #000000;
}

.light-blue {
    color: #00c4ff;
}

.colors i, .tools i, .marker_sizes {
    font-size: 2em;
}

.tools .tool-container {
    margin: 25% 0;
} 

.one-pixel {
    font-size: 0.5em;
}

.three-pixel {
    font-size: 0.75em;
}

.five-pixel {
    font-size: 1em;
}

.marker_sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
